In [ ]:
import pandas as pd

## Load Data

In [ ]:
titanic_data = pd.read_csv('../data/raw/train.csv')

titanic_data.info()

## Impute Missing Values

In [ ]:
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)
titanic_data['Fare'].fillna(titanic_data['Fare'].median(), inplace=True)

titanic_data.info()

## Dropping a column with many missing values

In [ ]:
titanic_data.drop('Cabin', axis=1, inplace=True)

titanic_data.info()

In [ ]:
titanic_data.columns

## One-hot encoding of remaining categorical variables

In [ ]:

titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'])

In [ ]:
titanic_data.info()

## Extracting information from non-numerical column "Name"

In [ ]:

# Extract titles from 'Name'
titanic_data['Title'] = titanic_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Drop the original 'Name' column
titanic_data.drop('Name', axis=1, inplace=True)

# One-hot encoding
titanic_data = pd.get_dummies(titanic_data, columns=['Title'])

titanic_data.info()

## Dropping a final non-numeric column

In [ ]:
titanic_data.drop('Ticket', axis=1, inplace=True)

titanic_data.info()

## Save the Preprocessed Features

In [ ]:
titanic_data.to_csv('../data/processed/train.csv', index=False)