In [1]:
import pandas as pd

## Load Data

In [2]:
titanic_data = pd.read_csv('../data/raw/train.csv')

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Impute Missing Values

In [3]:
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)
titanic_data['Fare'].fillna(titanic_data['Fare'].median(), inplace=True)

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Dropping a column with many missing values

In [4]:
titanic_data.drop('Cabin', axis=1, inplace=True)

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [5]:
titanic_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

## One-hot encoding of remaining categorical variables

In [6]:

titanic_data = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'])

In [7]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Sex_female   891 non-null    bool
 10  Sex_male     891 non-null    bool
 11  Embarked_C   891 non-null    bool
 12  Embarked_Q   891 non-null    bool
 13  Embarked_S   891 non-null    bool
dtypes: bool(5), float64(2), int64(5), object(2)
memory usage: 67.1+ KB

## Extracting information from non-numerical column "Name"

In [8]:

# Extract titles from 'Name'
titanic_data['Title'] = titanic_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Drop the original 'Name' column
titanic_data.drop('Name', axis=1, inplace=True)

# One-hot encoding
titanic_data = pd.get_dummies(titanic_data, columns=['Title'])

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Ticket          891 non-null    object
 7   Fare            891 non-null    float64
 8   Sex_female      891 non-null    bool
 9   Sex_male        891 non-null    bool
 10  Embarked_C      891 non-null    bool
 11  Embarked_Q      891 non-null    bool
 12  Embarked_S      891 non-null    bool
 13  Title_Capt      891 non-null    bool
 14  Title_Col       891 non-null    bool
 15  Title_Countess  891 non-null    bool
 16  Title_Don       891 non-null    bool
 17  Title_Dr        891 non-null    bool
 18  Title_Jonkheer  891 non-null    bool
 19  Title_Lady      891 non-null    bool
 20  Title_Major     891 non-null    bool
 21  Title_Master    891 non-null    bool
 22  Title_Miss      891 non-null    bool
 23  Title_Mlle      891 non-null    bool
 24  Title_Mme       891 non-null    bool
 25  Title_Mr        891 non-null    bool
 26  Title_Mrs       891 non-null    bool
 27  Title_Ms        891 non-null    bool
 28  Title_Rev       891 non-null    bool
 29  Title_Sir       891 non-null    bool
dtypes: bool(22), float64(2), int64(5), object(1)
memory usage: 75.0+ KB

## Dropping a final non-numeric column

In [11]:
titanic_data.drop('Ticket', axis=1, inplace=True)

titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Fare            891 non-null    float64
 7   Sex_female      891 non-null    bool
 8   Sex_male        891 non-null    bool
 9   Embarked_C      891 non-null    bool
 10  Embarked_Q      891 non-null    bool
 11  Embarked_S      891 non-null    bool
 12  Title_Capt      891 non-null    bool
 13  Title_Col       891 non-null    bool
 14  Title_Countess  891 non-null    bool
 15  Title_Don       891 non-null    bool
 16  Title_Dr        891 non-null    bool
 17  Title_Jonkheer  891 non-null    bool
 18  Title_Lady      891 non-null    bool
 19  Title_Major     891 non-null    bool
 20  Title_Master    891 non-null    bool
 21  Title_Miss      891 non-null    bool
 22  Title_Mlle      891 non-null    bool
 23  Title_Mme       891 non-null    bool
 24  Title_Mr        891 non-null    bool
 25  Title_Mrs       891 non-null    bool
 26  Title_Ms        891 non-null    bool
 27  Title_Rev       891 non-null    bool
 28  Title_Sir       891 non-null    bool
dtypes: bool(22), float64(2), int64(5)
memory usage: 68.0 KB